.form-aim {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 45px;
}

.form-aim__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
}

.form-aim__item {
  position: relative;
  padding-left: 45px;
  &:not(:last-child) {
    margin-bottom: 18px;
  }
  &:last-child::after {
    content: '';
    display: block;
    width: 100vw;
    border-bottom: 1px solid #d9d9d9;
    position: absolute;
    bottom: -24px;
    left: -20px;
    right: -20px;
  }
}

.form-aim__radio {
  margin: 0;
}

.form-aim__radio-mark {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  position: absolute;
  top: -6px;
  left: 0;
}

.form-aim__radio:checked + .form-aim__label .form-aim__radio-mark::after {
  content: '';
  position: absolute;
  display: block;
  width: 13px;
  height: 13px;
  background-color: #68B738;
  border-radius: 50%;
  top: 7px;
  left: 8px;
}

.form-aim__title-input {
  font-size: 16px;
  color: #222;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .form-aim {
    margin-bottom: 75px;
  }
  .form-aim__list {
    border: 1px solid #e7e7e7;
    padding: 25px 28px;
  }
  .form-aim__item:last-child::after {
    display: none;
  }
  .form-aim__title-input {
    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .form-aim {
    width: 568px;
    margin-bottom: 0;
  }
  .form-aim__list {
    height: 100%;
    padding: 34px 28px 30px 28px;
  }
  .form-aim__title-input {
    line-height: 30px;
  }
  .form-aim__radio-mark {
    top: 0;
  }
}
