.main-navigation {
  display: none;
  position: absolute;
  top: 65px;
  left: -20px;
  width: 100vw;
  text-align: center;
  background-color: #fff;
  z-index: 1;
}

.main-navigation__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-navigation__item {
  padding: 23px 20px;
}

.main-navigation__link {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .main-navigation {
    all: initial;
  }
  .main-navigation__list {
    display: flex;
  }
  .main-navigation__item {
    padding: 0;
    margin-right: 35px;
  }
  .main-navigation__item:last-child {
    margin-right: 0;
  }
  .main-navigation__link {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .main-navigation__link {
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    position: relative;
    z-index: 1;
  }
  .main-navigation__link--black-text {
    color: #111;
  }
}
