.page-main {
  min-width: 320px;
}

.page-main__title {
  margin: 0;
  min-height: 36px;
  margin-bottom: 50px;
  box-sizing: border-box;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #000;
  position: relative;
}

.page-main__title--catalog {
  margin-bottom: 60px;
}

.page-main__title--catalog::after {
  content: '';
  display: block;
  width: 100%;
  border-bottom: 1px solid #ebebeb;
  position: absolute;
  left: -20px;
  top: 75px;
}

.page-main__title--form {
  margin-bottom: 37px;
}

.page-main__text {
  margin: 0;
  color: #000;
  text-transform: uppercase;
  padding-right: 54px;
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .page-main__title {
    font-size: 60px;
    line-height: 60px;
    padding: 0;
    margin-bottom: 82px;
    min-height: 60px;
  }
  .page-main__title--form {
    padding-left: 40px;
    margin-bottom: 54px;
  }
  .page-main__text--form {
    font-size: 20px;
    line-height: 30px;
    padding-left: 40px;
    padding-right: 305px;
    margin-bottom: 66px;
  }
  .page-main__title--catalog::after {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-main__title--form {
    padding-left: 0;
  }
  .page-main__text--form {
    padding: 0;
    width: 323px;
  }
}
