.address-map {
  min-height: 112px;
}

.address-map__wrapper {
  width: 87%;
  margin: 0 auto;
  padding-top: 26px;
  padding-bottom: 26px;
  display: grid;
  grid-template-columns: 138px 138px;
  justify-content: space-between;
  p {
    margin: 0;
  }
}

.address-map__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #111;
  text-transform: uppercase;
  grid-row: 1 / 3;
}

.address-map__address,
.address-map__city {
  font-family: "Arial", "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444;
}

.address-map__map {
  min-height: 362px;
  background-color: beige;
}

@media (min-width: $tablet-width) {
  .address-map__wrapper {
    width: 92%;
    padding: 56px 40px;
    box-sizing: border-box;
    grid-template-columns: 180px 180px;
  }
  .address-map__text {
    font-size: 20px;
    line-height: 26px;
  }
  .address-map__address,
  .address-map__city {
    text-align: end;
    font-size: 16px;
  }
  .address-map__city {
    align-self: end;
  }
  .address-map__map {
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .address-map {
    position: relative;
  }
  .address-map__wrapper {
    margin: 0;
    padding: 56px 80px;
    position: absolute;
    top: 95px;
    left: 110px;
    width: 565px;
    min-height: 198px;
    grid-template-columns: 165px 165px;
    background-color: #fff;
  }

  .address-map__address,
  .address-map__city {
    text-align: start;
  }
  .address-map__city {
    align-self: center;
  }
}
